 a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    @include appearance( none );
    margin: 0;
}
input:focus, select:focus, textarea:focus { outline: none; @include box-shadow-input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
img { max-width: 100%; height: auto; }
figure { margin: 0; }
input[type=number] {
    -moz-appearance: textfield !important;
    appearance: none !important;
    -webkit-appearance: none !important;
}
input:-webkit-autofill {
    @include box-shadow(0 0 0 30px transparent inset);
} 
h2 { 
    line-height: 1.66; 
    margin: 0; 
    padding: 0;
    font-weight: 700; 
    color: $black-color;
    font-family: 'Montserrat';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.clear { clear: both; }
body {
	font-size: 13px;
    line-height: 1.8;
    color: $black-color;
    font-weight: 400;
    background: #940f0f;
    padding: 0px;
}
.container {
    width: 1400px;
    position: relative;
    margin: 0 auto;
    background: #fff;
}
