.example-result {
    background: #FFF;
    border: 1px dashed #ccc;
    border-left: 4px solid #FC5E5E;
    text-align: left;
    margin: 20px auto;
    padding: 4px;
    clear: both;
    font-weight: bold;
}


form.form-delete {
  display: inline;
}
.dataTables_length{
    float: left !important;
}
.dynamic-form-row {
    padding: 10px;
    margin: 20px;
}

.table-responsive {
    padding: 10px;
}
table thead{
	background: #6b6f82 !important;
    color: #fff !important;
}
table{
	width: 100% !important;
	font-size: 12px;
	border-collapse: collapse; 
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    vertical-align: middle;
}
.table td {
    padding: .5rem 1rem;
}
.table th {
    padding-left: 1rem;
    padding-right: 1rem;
}










