@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
html:not([data-scroll='0']) nav {
    background-color: #00407d;
}

* {
    font-family: 'Work Sans';
}

body {
    font-family: "Work Sans", sans-serif;
    color: #606065;
    font-size: 1rem
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-color: #fdd76e;
}

.nav-img-dropdown {
    width: fit-content;
}

@media (max-width: 992px) {
    nav a.nav-link {
        color: #005eb8 !important;
    }
    .headBtn {
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 770px) {
    .carousel-caption h1 {
        font-size: 2rem !important;
    }
    .carousel-caption a {
        margin-top: 0px !important;
        font-size: 15px !important;
    }
    .carousel-caption {
        margin-bottom: 2% !important;
    }
}

@media (max-width: 420px) {
    .sm-padTop {
        padding-top: 2rem !important;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.9rem;
    }
    h6 {
        font-size: 0.8rem;
    }
    .jumbotron h1 {
        margin-top: 6rem !important;
    }
    .navbar {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .slideMobile {
        height: 300px;
    }
    .carousel-caption h1 {
        font-size: 1.2rem !important;
        margin: 0px !important;
        line-height: normal !important;
        margin-bottom: 10px !important;
    }
    .carousel-caption a {
        margin-top: 0px !important;
        font-size: 10px !important;
        margin-bottom: 20px !important;
    }
    .carousel-caption p {
        font-size: 0.9rem !important;
        margin: 0px !important;
        line-height: normal !important;
        margin-bottom: 10px !important;
    }
}

@media (min-width: 768px) {
    .nav-img-dropdown {
        width: 34%;
    }
    .carousel-caption {
        margin-bottom: 12%;
    }
}

.owl-nav,
.owl-dots {
    display: none;
}

.footer-link:hover {
    text-decoration: none;
    color: #fdd76e;
}

.headBtn {
    background-color: rgba(254, 254, 2);
    ;
    color: #000;
    border: solid 1px rgba(254, 254, 2);
}

.headBtn:hover {
    background-color: #fccb46 !important;
    color: #000 !important;
    border-color: #fccb46 !important;
    box-shadow: 0px 3px 10px 0px #00000036 !important;
}

.magicCategory {
    cursor: pointer;
}

.magicCategory:hover {
    background-color: #00407d !important;
    color: #fdd76e !important;
    border-color: #00407d !important;
    box-shadow: 0px 3px 10px 0px #00000036 !important;
}

a,
.magicCategory {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

body {
    font-family: "Work Sans" !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.fill-screen {
    background-position: center;
    background-size: cover;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (min-width:768px) {
    .navbar-brand img {
        width: 150px !important;
    }
}

@media (max-width:768px) {
    .navbar-brand img {
        width: 200px !important;
    }
}

@media (min-width:768px) {
    nav a.shoping-cart img {
        width: 35px !important;
        margin-left: 2rem;
    }
}

@media (max-width:768px) {
    nav a.shoping-cart img {
        width: 45px !important;
        margin-top: 1rem;
    }
}

nav a.nav-link {
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
}


/* Slider Section */

section.slider .btn-color {
    border: thin solid #fff;
    color: #fff;
}

section.slider .btn-color:hover {
    background-color: #fff;
    color: #000;
}

section.slider h1 {
    font-family: 'Fredoka One', cursive;
}


/* Course Lists section */

.course-lists {
    margin-bottom: 5rem !important;
}

.course-lists h3,
.course-lists h5 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

a.courses-all {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
}

@media (min-width: 768px) {
    a.courses-all {
        width: 20%;
    }
}

#courses {
    margin: 0;
}

#courses .courses {
    margin: 5px;
}

#courses .courses .content {
    padding: 20px;
}

#courses .courses .content h6,
#courses .courses .content h2 {
    margin-bottom: 10px;
    padding: 0;
    color: #000;
}

#courses .courses .content span i {
    color: #00407d;
}

#courses .courses .courses-pack {
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Section for Aquisition */

section.aquisition {
    background: #e4e4e4;
    /* color: #fff; */
}

section.aquisition img {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.aquisition .card-text span.aquisition-heading {
    font-weight: bold;
}

@media (min-width:768px) {
    section.aquisition .card-text img {
        width: 50px !important;
    }
}

@media (max-width:768px) {
    section.aquisition .card-text img {
        width: 50px !important;
    }
}

section.aquisition .aquisitions {
    margin-top: 5rem;
    padding-bottom: 2rem;
}

section.aquisition .card-text img {
    border: 2px solid #0088CC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 15px;
}

section.aquisition .card-text img:hover {
    background: #0088CC;
}


/* End of section for aquisition */


/* Section for accomplishment */

section.accomplishment {
    color: #fff;
}

section.accomplishment h2 {
    padding-top: 2rem;
}

section.accomplishment h2,
section.accomplishment p {
    text-align: center;
}

section.accomplishment .digits {
    text-align: center;
    margin-top: 1.5rem;
}

section.accomplishment .digits .number {
    font-weight: bold;
    font-size: 45px;
    color: #0088CC;
}

@media (min-width: 768px) {
    section.accomplishment .digits {
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 70%;
        padding: 4rem;
    }
}


/* End of section for accomplishment */


/* Section For Certificate */

section.certificate {
    background: #e4e4e4;
    /* color: #fff; */
}

section.certificate img {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.certificate .card-text span.aquisition-heading {
    font-weight: bold;
}

@media (min-width:768px) {
    section.certificate img {
        width: 500px !important;
    }
    section.certificate .card-text img {
        width: 100px !important;
    }
}

@media (max-width:768px) {
    section.certificate img {
        width: 500px !important;
    }
    section.certificate .card-text img {
        width: 100px !important;
    }
}

section.certificate .certificates {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

section.certificate .card-text img {
    border: 2px solid #0088CC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 15px;
}

section.certificate .card-text img:hover {
    background: #0088CC;
}


/* End of section for certificate */


/* Section for recomendations */

section.recomendations h2 {
    text-align: center;
}

section.recomendations p {
    text-align: center;
}

section.recomendations .card-body .card-text {
    text-align: justify;
}


/* End of section for recomendations */


/* Section for footer */


/*footer {
    background: #303030;
    color: rgb(197, 194, 194);
    padding: 2rem 0px 2rem 0px;
}

footer h5 {
    border-bottom: thin solid rgb(221, 221, 221);
    padding-bottom: 10px;
}

footer a {
    color: rgb(202, 202, 202);
}

footer a:hover {
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.copyright {
    background: rgb(78, 78, 78);
    color: rgb(184, 183, 183);
}
*/