/*body{
  font-size: 1rem;
}*/

h6{
  font-size: 1rem;
}
.navbar-top{
  position: fixed;
  top: 0;
  width: 100%;
  /*height: 77px;*/
  z-index: 9999;
}

.page-wrapper {
  margin-top: 62px;
}


/* Left side bar*/
.left-sidebar{
  position: fixed;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 350px;
  border-right: 1px solid #e0e4ef;
}
.left-sidebar ul{
  overflow: hidden;
}
.left-sidebar .list-group-borderless .list-group-item {
  padding: 5px 12px;
  font-size: 0.875rem;
}
.left-sidebar .list-group-borderless .active:hover{
  background:#19191c;
  color: #fff;
}

/* Main content */
.main-content{
  margin-left: 300px;
  padding: 0px 100px 50px;
  background-color: #f8f8f8;
}


@media (max-width: 992px) {
  .main-content{
    padding: 0px 50px 50px;
  }
}

@media (max-width: 768px) {
  .left-sidebar{
    width: 200px;
  }
  .main-content{
    margin-left: 200px;
    padding: 0px 20px 50px;
  }
}

@media (max-width: 575px) {
  .navbar-top{
    position: relative;
  }
  .page-wrapper {
    margin-top: 0;
  }
  .left-sidebar{
    width: 260px;
  }
  .main-content{
    margin-left: 0px;
    padding: 0px 20px 50px;
  }
}


.copy-link{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
}

.badge{
  font-size: 100%;
}


/*Custom scroll bar*/
.ss-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
}

.ss-content {
  height: 100%;
  width: calc(100% + 18px);
  padding: 0 0 0 0;
  position: relative;
  overflow-x: auto;
  overflow-y: scroll;
  box-sizing: border-box;
}

.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto;
}

.ss-scroll {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  width: 9px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.changelog-page .badge{
  width: 80px;
}

/* Nav pills */
.nav-pills.nav-tabs-line {
  padding: 0.625rem 0;
}
.nav-pills.nav-tabs-line .nav-link {
  border: transparent;
  color: #066ac9;
}
.nav-pills.nav-tabs-line .nav-link.active {
  color: #066ac9;
  background-color: rgba(6, 106, 201, 0.1);
}
.nav-pills.nav-tabs-line .nav-item {
  margin-bottom: -2px;
}

.nav-tabs.nav-tabs-line {
  border-bottom: rgba(0, 0, 0, 0.1);
}

.nav-tabs.nav-tabs-line .nav-link {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid transparent;
}

.nav-tabs.nav-tabs-line .nav-link.active {
  background: transparent;
  color: #2163e8;
  border-bottom: 3px solid #2163e8;
}

.nav-tabs.nav-tabs-line .nav-item {
  margin-bottom: -2px;
}
